.feedback__heading {
  padding: 36px 7px 28px 7px;

  text-align: center;

  border-bottom: 1px solid $color-whisper-2;

  @media (min-width: $tablet-width) {
    padding: 64px 166px 102px 167px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 384px 64px 382px;
  }
}

.feedback__title {
  margin: 0;
  padding-bottom: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.feedback__description {
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}
