.form__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-bottom: 48px;

    grid-template-columns: repeat(2, 1fr);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 49%;

      width: 1px;
      height: 100%;

      background-color: $color-gainsboro;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;

      width: 1px;
      height: 100%;

      background-color: $color-gainsboro;
      transform: translateX(-50%);
    }
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.form__fieldset--username {
  margin: 0;
  padding: 0 20px 39px 20px;

  border: none;
  border-bottom: 1px solid $color-whisper-2;

  @media (min-width: $tablet-width) {
    padding: 0 43px 15px 0;

    border: none;
  }
}

.form__label-text {
  display: flex;
  margin-left: 16px;
}

.form__legend {
  position: relative;

  margin-bottom: 20px;
  padding: 0;
  padding-top: 24px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: $color-black;

  span {
    @media (min-width: $tablet-width) {
      z-index: 1;

      padding: 0 40px;

      background-color: $color-white;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 28px;
    padding: 0;

    font-size: 21px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color-gainsboro;
      transform: translateY(-50%);
    }
  }
}

.form__input-wrapper {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__input-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__input-wrapper .form__input-item:last-child {
  margin: 0;
}

.form__input-icon {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    width: 58px;
    height: 58px;

    background-color: $color-whisper-dark;
    background-repeat: no-repeat;
    background-position: 50%;

    pointer-events: none;
  }

  &--phone::after {
    background-image: url("../img/svg/phone.svg");
  }

  &--email::after {
    background-image: url("../img/svg/mail.svg");
  }
}

.form__input {
  width: 100%;
  height: 58px;
  padding: 0;
  padding-left: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  color: $color-black;

  background-color: $color-white-smoke;
  border: none;
  outline: none;

  &::placeholder {
    color: $color-black;

    opacity: 0.3;
  }

  &:hover {
    background-color: $color-whisper-2;
  }

  &:active,
  &:focus {
    background-color: $color-white;
    box-shadow: inset 4px 4px 0 $color-whisper-2, inset -4px -4px 0 $color-whisper-2;
  }
}

.form__impression-list {
  margin: 0;
  padding: 0 20px 24px 20px;

  list-style-type: none;

  border-bottom: 1px solid $color-whisper-2;

  @media (min-width: $tablet-width) {
    display: grid;
    padding: 0;
    padding-bottom: 48px;

    border: none;

    grid-template-columns: repeat(2, 1fr);

    &--tourist-places {
      padding-bottom: 42px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    padding: 17px 53px 17px 53px;

    &--tourist-places {
      margin-bottom: 56px;
      padding: 31px 45px 31px 45px;
    }
  }
}

.form__impression-list .form__input-item:last-child {
  margin: 0;
}

.form__impression-list .form__label-radio:last-child {
  margin: 0;
}

.form__fieldset--contact {
  margin: 0;
  padding: 0 20px 34px 20px;

  border: none;
  border-bottom: 1px solid $color-whisper-2;

  @media (min-width: $tablet-width) {
    padding: 0 0 122px 44px;

    border: none;
  }
}

.form__legend--contact {
  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.form__legend--username {
  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }
}

.form__fieldset--attractions {
  margin: 0;
  padding: 0 20px 24px 20px;

  border: none;
  border-bottom: 1px solid $color-whisper-2;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.form__fieldset--emotions {
  margin: 0;
  padding: 0 20px 24px 20px;

  text-align: center;

  border-style: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 64px;
  }
}

.form__label-radio {
  position: relative;

  display: block;
  margin-bottom: 16px;
  padding: 10px 0 10px 62px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  text-transform: initial;

  cursor: pointer;
}

.form__radio[type="radio"] + .form__impression-option {
  border-radius: 50%;
}

.form__impression-option {
  position: absolute;
  top: 50%;
  left: 0;

  width: 46px;
  height: 46px;

  background-color: $color-white-smoke;
  transform: translateY(-50%);

  &:hover {
    background-color: $color-whisper-2;
  }

  &:active {
    background-color: $color-light-grey-2;
  }
}

.form__radio[type="radio"]:checked + .form__impression-option::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 34%;

  width: 16px;
  height: 16px;

  background-color: $color-night-rider;
  border-radius: 50%;
  transform: translateY(-50%);
}

.form__radio[type="radio"]:checked:active + .form__impression-option::before {
  opacity: 0.3;
}

.form__label-checkbox {
  position: relative;

  display: block;
  padding: 10px 0 10px 62px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;
  text-transform: initial;

  cursor: pointer;
}

.form__label-checkbox[type="checkbox"] + .form__checkbox-option {
  border-radius: 4px;
}

.form__checkbox-option {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 46px;
  height: 46px;

  background-color: $color-white-smoke;
  transform: translateY(-50%);

  &:hover {
    background-color: $color-whisper-2;
  }

  &:active {
    background-color: $color-light-grey-2;
  }
}

.form__checkbox[type="checkbox"]:checked + .form__checkbox-option::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 22px;
  height: 16px;

  background-image: url("../img/svg/tick.svg");
  transform: translate(-50%, -50%);
}

.form__submit-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0 97px;
  }
}

.form__button {
  padding: 16px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-seagull;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    color: rgba($color-white, 0.3);

    background-color: $color-shakespeare-active;
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.form__notification {
  align-self: flex-end;
  margin: 0;

  font-size: 12px;
  line-height: 21px;
  color: rgba($color-black, 0.6);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    color: $color-night-rider;
  }
}

.form__input-text {
  width: auto;
  min-width: 280px;
  min-height: 150px;
  margin-bottom: 56px;
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  background-color: $color-white-smoke;
  border: none;
  outline: none;

  resize: none;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover {
    background-color: $color-whisper-2;
  }

  &:active,
  &:focus {
    background-color: $color-white;
    box-shadow: inset 4px 4px 0 $color-whisper-2, inset -4px -4px 0 $color-whisper-2;
  }

  @media (min-width: $tablet-width) {
    min-width: 648px;
    min-height: 160px;
    margin-bottom: 48px;
    padding-top: 16px;
    padding-left: 12px;
  }

  @media (min-width: $desktop-width) {
    min-width: 768px;
  }
}

.form__tourist-places br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
