.heading__title {
  margin-top: 0;
  margin-bottom: 38px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    font-size: 30px;

    &--index {
      font-size: 21px;
    }
  }
}

.heading__description {
  margin: 0;
}
