
.main-nav {
  position: relative;

  width: 100%;
  min-height: 56px;
  margin: 0;
  padding: 0;
}

.main-nav__list {
  display: none;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 56px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: $color-seagull;

  .no-js & {
    position: static;

    display: block;

    @media (min-width: $tablet-width) {
      display: grid;
    }
  }

  .is-open & {
    position: absolute;
    z-index: 1;

    display: block;
    width: 100%;

    @media (min-width: $tablet-width) {
      position: static;

      display: grid;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;

    background-color: $color-white;

    grid-template-columns: repeat(5, 1fr);
  }
}


.main-nav__item {
  width: 100%;

  text-align: center;

  &:last-child {
    background-image: linear-gradient(0deg, $color-black -50%, $color-seagull 15%);

    @media (min-width: $tablet-width) {
      background-image: none;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 17px;

    background-color: $color-white;
    border: none;

    &:nth-child(4n + 3) {
      grid-column-start: 4;
    }
  }
}

.main-nav__link {
  display: block;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $color-white;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  &:hover {
    background-color: $color-shakespeare;
  }

  &:active {
    background-color: $color-shakespeare-active;
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    font-size: 14px;
    line-height: 21px;
    color: $color-black;

    background-color: $color-white;
    border: none;

    &:hover {
      color: $color-seagull;

      background-color: $color-white;
    }
  }
}

.main-nav__item--active .main-nav__link {
  @media (min-width: $tablet-width) {
    color: $color-roman-coffee;

    &:hover {
      opacity: 60%;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 23px;
  height: 23px;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/svg/icon-open.svg");
  border: none;
  cursor: pointer;

  .no-js & {
    display: none;
  }

  .is-open & {
    background-image: url("../img/svg/icon-closed.svg");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
