.page {
  margin: 0;

  font-size: $font-size-base;
  line-height: $line-height-base;
  font-family: $ff-pt-sans;
  color: $color-night-rider;
  text-transform: uppercase;

  background-color: $color-whisper-bg;
}

.page__wrapper {
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background-color: $color-white;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
