.photo-gallery {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.photo-gallery__heading {
  padding: 37px 20px 25px 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 66px 107px 82px 95px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 378px 89px 378px;
  }
}
