.photo {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 0 20px;
}

.photo__title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  color: $color-black;
}

.photo__author {
  margin: 0;

  text-transform: none;
}

.photo__like-count {
  font-weight: 700;
  color: $color-black;
}
