.photo__title {
  margin: 0;

  font-weight: 700;
  font-size: 14px;
  color: $black;
}

.photo__author {
  margin: 0;

  text-transform: none;
}

.photo__like-count {
  font-weight: 700;
  color: $black;
}
