$ff-pt-sans: "PT Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 21px;
/*colors*/
$color-night-rider: #333333;
$color-black: #000000;
$color-white: #ffffff;
$color-seagull: #81b3d2;
$color-whisper: #eeeeee;
$color-whisper-dark: #e6e6e6;
$color-white-smoke: #f2f2f2;
