$ff-pt-sans: "PT Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 21px;
/*colors*/
$night-rider: #333333;
$black: #000000;
$black-opacity: rgba(0, 0, 0, 0.3);
$black-opacity-light: rgba(0, 0, 0, 0.6);
$white: #ffffff;
$seagull: #81b3d2;
$whisper: #eeeeee;
$whisper-dark: #e6e6e6;
$white-smoke: #f2f2f2;
