$ff-pt-sans: "PT Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 21px;

// Colors
$color-night-rider: #333333;
$color-black: #000000;
$color-white: #ffffff;
$color-seagull: #81b3d2;
$color-whisper: #eeeeee;
$color-whisper-2: #e5e5e5;
$color-whisper-bg:#e7e5e5;
$color-whisper-dark: #e6e6e6;
$color-white-smoke: #f2f2f2;
$color-shakespeare: #669ec0;
$color-shakespeare-active: #5496bd;
$color-roman-coffee: #766357;
$color-light-grey: #d6d6d6;
$color-light-grey-2: #d5d5d5;
$color-pink-swan: #b3b3b3;
// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
